body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav{
    background-color: aquamarine;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav a:first-child{
    color: red;


}
nav a:hover{
    font-size: 18.5pt;
    color: black;
}

header{
    width: 100%;
    height: 500px;
    background-image: url(./imagens/beluga.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;



}
header h1{
    margin-left: 500px;

}
section{
    background-color:white;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}
section div{
    width: 400px;
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-around;
    

}
section div input::placeholder{
    color: black;
    font-size: 15px;

}
section div input:focus{
    background-color: blue;

}
section div button{
    border: none;
    background-color: aquamarine;
    color: white;
    cursor: pointer;
}